server:
  port: 8080

spring:
  application:
    name: DevOpsDashboard
  
  messages:
    basename: messages
    encoding: UTF-8
    cache-duration: PT1H
  
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/devops_db}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: true

discord:
  webhook-url: ${DISCORD_WEBHOOK_URL:}